body{
    background-color: rgb(188, 66, 66);
    color: white;
}



body{
    /*background-image:url(,/image/index.jpeg);*/
    background-repeat: no-repeat;
    background-position: right;
    border-color:green;
}
#para1 {

    border-style: solid;
    border-color: green;
    color: pink;
    background-color: rgb(7, 8, 8);
    border-radius: 20px;
    border-top-style:dotted ;
}
#para2 {
    background-color: aqua;
    border-style: dashed;
    border-color:black;
    color: blue;
}
.one{
    font-style: dashed;
    font-size: 10px;
    color:blanchedalmond;
    background-color: black;
}
