body{
    background-color: aqua;
}
.sidebar{
   background-color: royalblue;
   color:darkred;
   width:200px;
   height:100%;
   position: fixed;
   padding: 40px; 
   top: 0;
   left: 0;
   bottom: 0;
   font-size: 40px;
}
ul{
   list-style:none;
   margin: 10px;
   padding:30px;

   
}
li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 15px 20px;
}
.sidebar a {
    text-decoration: none;
    color: white;
}
a:hover{
    background-color:salmon;
    color: blue;
}
.rounded-image{
    width: 200px;
    height: 200px;
    border-radius: 70%;
    overflow-y: none;
}
.my-name{
    font-size: 100px;
}
.introduction{
    margin-left: 300px;
}
.introduction-text{
    font-size: 40px;
}
.contact-me{
    border:darkblue ;
    text-align: center;
    font-size: 20px;
}
.contact-me a{
    border: 1px solid black;
    border-radius: 60px;
}
.contact-me a:hover{
    background-color: turquoise;
    color: blueviolet;
}
.read-more{
    padding: 10px;
    border: 1px solid black;
}
.read-morea{
    color: white;
    background-color:black;
    font-weight:bold ;
    padding: 8px;
}
.read-more a :hover{
    background-color: white;
    color: black;
    transition: 200ms ease-in-out;
}
.more-information{
    margin-left: 300px;
}